name: CI Pipeline

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main, feat/*, fix/* ]

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: test
          POSTGRES_USER: test
          POSTGRES_DB: task-mng-db
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v4
    
    - name: Set up JDK 17
      uses: actions/setup-java@v4
      with:
        java-version: '17'
        distribution: 'corretto'
        
    - name: Cache Maven dependencies
      uses: actions/cache@v4
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2

    - name: Grant execute permission for mvnw
      run: chmod +x mvnw

    - name: Generate test coverage report
      run: ./mvnw jacoco:report

    - name: Upload JaCoCo Report
      uses: actions/upload-artifact@v4
      with:
          name: jacoco-report
          path: target/site/jacoco/
          retention-days: 7

    - name: Run tests and verify coverage (50%)
      run: ./mvnw clean verify
      env:
        SPRING_DATASOURCE_URL: jdbc:postgresql://localhost:5432/task-mng-db
        SPRING_DATASOURCE_USERNAME: test
        SPRING_DATASOURCE_PASSWORD: test
        JWT_TOKEN: dummy_token

  build:
    needs: test
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4

    - name: Package Spring Boot app
      run: mvn clean package -DskipTests

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3
      
    - name: Build Docker image
      uses: docker/build-push-action@v5
      with:
        context: .
        push: false
